body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Righteous', cursive;
    box-sizing: border-box;
    background-color: #e5e5e5;

}

/* header css*/
header {
    background-color: #CF2b2b;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 92px;
    width: 100%;
    display: flex;
    justify-content: left;
    flex-direction: column;
    text-align: left;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    z-index: 5;
}
header h1 {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 44px;
    color: white;
    margin-top: 8px;
    margin-left: 21px;

}
header p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: white;
    margin-top: 5px;
    margin-left: 21px;
    margin-bottom: 18px;
}

/* main css*/

main {
    margin-top: 123px;
    margin-bottom: 92px;
    margin-left: 19px;
    display: flex;
    flex-direction: column;
    z-index: 3;
}


.dishes{
    height: 258px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.food-title{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 26px;
}

.food-options {
    background-color: #ffffff;
    height: 216px;
    width: 172px;
    border: 4px;
    border-radius: 9px;
    box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
    margin-top: 17px;
    margin-right: 16px;
    /*box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F   adicionar isso pra funfar a margem verde*/ 
}

.food-options img{
    margin-top: 18px;
    margin-left: 14px;
    margin-right: 14px;
    border-radius: 4px;
    width: 144px;
    height: 87px;
}

.food-options-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    margin-top: 8px;
    margin-left: 14px;
    width: 144px;
    height: 23px; 
}

.food-options-description {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #a6a6a6;
    margin-top: 8px;
    margin-left: 14px;
    width: 147px;
}

.f-o-price-selection {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    margin-top: 8px;
    margin-left:14px;
    width: 144px;
    height: 20px;
}
.food-options-price {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    
}

.food-select ion-icon {
    width: 20px;
    height: 20px;
    border-radius: 90px;
    border: none;
    color: white;
}

.food-scrolls {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    overflow-x: scroll;
}

.hidden {
    display: none;
}

.drinks{
    height: 258px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 27px;
}

.dessert{
    height: 258px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 27px;
    margin-bottom: 16px;
}













/* footer css*/
footer {
    background-color: white;
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 92px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    z-index: 4;
}

footer button{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    height: 61px;
    width: 364px;
    color: white;
    background-color: #cbcbcb;
    border: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p{
    width: 200px;
}